<div class="accordion">
  <div class="accordion-header" (click)="toggleForm()">
    <span>Agregar Préstamo</span>

    <span class="arrow" [class.open]="isExpanded"> ▼ </span>
  </div>

  @if (isExpanded) {
    <form class="accordion-body" [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="form-group">
          <label>Miembro</label>
          <select formControlName="memberId">
            <option value="">Seleccione un miembro</option>
            @for (member of members; track member.id) {
              <option [value]="member.id">
                {{ member.name }}
              </option>
            }
          </select>
          @if (form.controls.memberId.touched && form.controls.memberId.invalid) {
            <small>Seleccione un miembro.</small>
          }
        </div>

        <div class="form-group">
          <label>Libro</label>
          <select formControlName="bookId">
            <option value="">Seleccione un libro</option>
            @for (book of books; track book.id) {
              <option [value]="book.id" [disabled]="book.stock === 0">
                {{ book.title }}
                @if (book.stock === 0) {
                  (Sin stock)
                }
              </option>
            }
          </select>
          @if (form.controls.bookId.touched && form.controls.bookId.invalid) {
            <small>Seleccione un libro.</small>
          }
        </div>

        <div class="form-group">
          <label>Fecha de entrega</label>
          <input type="date" formControlName="dueDate" />
          @if (form.controls.dueDate.touched && form.controls.dueDate.invalid) {
            <small>Seleccione la fecha.</small>
          }
        </div>
      </div>

      <div class="actions">
        <div class="server-message">
          <span
            class="message"
            [class.success]="messageType === 'success'"
            [class.error]="messageType === 'error'"
          >
            {{ message }}
          </span>
        </div>

        <button class="btn-save" type="submit">Guardar</button>
      </div>
    </form>
  }
</div>
<div>
  @if (isLoading) {
    <div class="state-msg"><i class="fa-solid fa-spinner fa-spin"></i> Cargando...</div>
  }

  @if (errorMsg) {
    <div class="state-msg error">
      <i class="fa-solid fa-triangle-exclamation"></i> {{ errorMsg }}
    </div>
  }

  @if (!isLoading && !errorMsg) {
    <app-table [columns]="columns" [data]="loans" />
  }

  <app-modal
    #modal
    [config]="modalConfig"
    [editData]="selectedLoan"
    [apiError]="apiError"
    (save)="onSave($event)"
    (close)="onModalClose()"
  />
</div>
